.contactLabel {
    padding: 0px;
    margin: 0px 0px 4px 0px;
    width: 100%;
}
  
.contactInputField {
    margin-bottom: 12px;
    width: 100%;
}
  
.messageInputField {
    margin-bottom: 24px;
    padding-bottom: 48px;
    width: 100%;
}
  
p {
    margin: 0;
}

.wideColumnContainer > div {
    margin: 18px;
}

@media only screen and (max-width: 768px) {
    .wideColumnContainer {
        grid-template-columns: 40% 60%;
    }

    .wideColumnContainer > div {
        margin: 10px;
    }
}


@media only screen and (max-width: 480px) {
    #aboutUsGridMobile {
        grid-template-columns: 100%;
    }

    /* this is for the logo so it squishes to fit smaller screens 
    except it doesnt work yet*/
    #aboutUsLogo {
        width: 80%;
    }
}