.smallLogo {
    width: 100px;
    height: 100px;
    margin-right: 24px;
}

.borderPadding {
    margin: 36px;
}

.spaceBetween {
    justify-content: space-between;
}

.search {
    width: 30%;
}

@media only screen and (max-width: 480px) {
    .smallLogo {
        width: 64px;
        height: 64px;
        margin-right: 12px;
    }

    .search {
        width: 100%;
    }

    .listTitle {
        font-size: 16px;
    }

    .borderPadding {
        margin: 24px;
    }

    .smallMobileButton {
        margin-right: 12px;
        width: 64px;
    }

    .smallMobileButton > button {
        font-size: 8px;
    }
}