.smallLogo {
    width: 100px;
    height: 100px;
    margin-right: 24px;
}

.borderPadding {
    margin: 36px;
}

.spaceBetween {
    justify-content: space-between;
}

.search {
    width: 30%;
}

@media only screen and (max-width: 480px) {
    .smallLogo {
        width: 48px;
        height: 48px;
        margin-right: 12px;
    }

    .search {
        width: 100%;
    }

    #tournamentName {
        size: 10px;
    }

    .borderPadding {
        margin: 0px;
    }
    
    .box {
        /* box-shadow: none; */
        border-radius: 0px;
    }

}