#footer {
    /* display: flex;
    flex-direction: col;
    justify-content: space-between;
    align-items: start; */

    padding: 20px;

    background-color:#13505b;
}

#footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#footerTextLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
        margin: 10px 0px 10px 20px;
        padding: 0;
        cursor: pointer;
        color: white;
        text-decoration: none;
    }
}

#footerCopyright {
   width: 100%;

   p {
    color: white;
   }
}

#footerBrandBtn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;

    img {
        width: 60%;
        cursor: pointer;
    }
}



@media screen and (max-width: 768px) {
    #footerLinks {
        flex-direction: column;
    }

    #footerTextLinksContainer {
        align-self: flex-start;

        span {
            margin: 10px 20px 10px 0px;
        }
    }

    #footerBrandBtn { 
        align-self: flex-start;
    }
}