#individualCollegeGallery {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 316px;
}

#individualCollegeRegisteredTeams {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 400px;
    overflow: scroll;
}

#individualCollegeAnnouncements {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 800px;
    overflow: scroll;
}

.paddingTop {
    padding-top: 24px;
}

.shortBio {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.smallBottomMargin {
    margin: 0px 0px 8px 0px;
}

.stickyHeader {
    position: sticky;
    max-height: 56px;
}

#postDate {
    margin: 0px;
    padding: 0px;
    font-size: small;
    font-weight: 200;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiperDiv {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    color: white;
    width: 100%;
    height: 12em;
}

.swiper {
    height: 272px;
}


@media only screen and (max-width: 480px) {
    .collegeTitle {
        font-size: 24px;
    }

    #individualCollegeGallery {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #individualCollegeRegisteredTeams {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #individualCollegeAnnouncements {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 400px;
        overflow: scroll;
    }
}