/* Landing Page */

body {
  background-color: #e1f3f4;
}

.heroImage {
  width: 90%;
  max-height: 32em;
  /* margin: 10px; */
  object-fit: cover;

  /* padding: 12px; */
}
  
/* https://www.w3schools.com/howto/howto_css_hero_image.asp */
.heroButton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 16px 48px;
  color: black;
  background-color: #7fb493;
  text-align: center;
  cursor: pointer;
  border-radius: 48px;
}
  
.heroButton:hover {
  background-color: #13505b;
  color: white;
}
  
#heroText {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url('../images/GamingAardvarkForestsOfLegend.jpg');
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  color: white;
  width: 100%;
  min-height: 24em;
  padding: 6em 0;
}

#blurBackground {
  backdrop-filter: blur(8px);
  padding: 20px 8px;
  margin: 12px;
}

.overflowList {
  max-height: 500px; 
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}
  
#heroText h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: larger;
  margin: 16px 24px;
}
  
#heroTextSmall {
  margin: 30px;
  font-size: 1.6em;
  /* backdrop-filter: blur(8px); */
  /* padding: 24px; */
}
  
#heroText h4 {
  text-align: center;
  font-weight: 700;
  font-size: medium;
  margin: 0;
}

#landingPageSection1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
  
#landingPageSection2 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
  
#landingPageSection3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#gameplayHeader {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#gameplayParagraphs {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#gameplaySlideshow {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-content: center;
}

/* Mobile Responsive breakpoint */
@media screen and (max-width: 768px) {

  /* Changes from a 2 column to 1 column layout in mobile view*/
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin: 8px;
    width: auto;
    max-width: 100%;
  }

  #landingPageSection1 {
    display: grid;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
    
  #landingPageSection2 {
    display: grid;
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
    
  #landingPageSection3 {
    display: grid;
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  /* Gameplay Section that is within the Landing Page Section 3 */
  #gameplayHeader {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #gameplayParagraphs {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #gameplaySlideshow {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    align-content: center;
    margin: 24px auto 0 auto;
  }

  .box {
    padding: 16px;
  }
}

/* .popup class was removed to be consistent with other popups using the .popupContent class. See below */

.popupHeader {
  margin: 12px 0px 8px 0px;
}

.content > p {
  margin-bottom: 24px;
}

.widePopup {
  width: 80%;
}

.homeGridText {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
}



/* Admin Landing Page */

#adminUncompletedTasks {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  min-height: 500px;
  height: auto;
  overflow: scroll;
}

#adminManageUsers {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  min-height: 500px;
  height: auto;
  /* overflow: scroll; */
}

#manageUserProfileImage {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#manageUserProfileFirstName {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#manageUserProfileLastName {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#manageUserProfileUsername {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#manageUserProfileCollege {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#manageUserProfileRole {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#manageUserProfileBioLabel {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

#manageUserProfileBioInput {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

/* Moderator Landing Page */

#moderatorLandingPageButtons {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

}

#moderatorUncompletedTasks {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 520px;
  overflow: scroll;
}

#moderatorManageUsers {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 520px;
  overflow: scroll;
}

.approveDeleteButtons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.overflowList {
  overflow-y: scroll;
}


/* Admin Action Buttons for creating new accounts, and the popups that appear when the buttons are clicked */
.adminActionsContainer {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: flex-start;
}

.adminActionsContainer button {
    min-width: 200px;
    margin: 5px;
}

/* this replaces the .popoup class, any instances of className='popup' should be replaced with className='popupContent' */
.popupContent {
  background-color: #e1f3f4;
  padding: 24px;
  margin: 0px;
  border-radius: 8px;

  /* width: 90vw !important; */

  overflow-y: auto;
  max-height: 80vh;




}

.popupContent input {
  margin-right: 12px;
}