/* Landing Page */

body {
  background-color: #e1f3f4;
}

.heroImage {
  width: 90%;
  max-height: 32em;
  /* margin: 10px; */
  object-fit: cover;
}
  
/* https://www.w3schools.com/howto/howto_css_hero_image.asp */
.heroButton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 16px 48px;
  color: black;
  background-color: #7fb493;
  text-align: center;
  cursor: pointer;
  border-radius: 48px;
}
  
.heroButton:hover {
  background-color: #13505b;
  color: white;
}
  
#heroText {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url('../images/GamingAardvarkForestsOfLegend.jpg');
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  color: white;
  width: 100%;
  height: 20em;
  padding: 6em 0;
}
  
#heroText h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: larger;
  margin: 16px 24px;
}
  
#heroTextSmall {
  margin: 48px 0px;
}
  
#heroText h4 {
  text-align: center;
  font-weight: 700;
  font-size: medium;
  margin: 0;
}

#landingPageSection1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
  
#landingPageSection2 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
  
#landingPageSection3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#gameplayHeader {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#gameplayParagraphs {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#gameplaySlideshow {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-content: center;
}

/* Mobile Responsive breakpoint */
@media screen and (max-width: 768px) {

  /* Changes from a 2 column to 1 column layout in mobile view*/
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin: 8px;
    width: auto;
    max-width: 100%;
  }

  #landingPageSection1 {
    display: grid;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
    
  #landingPageSection2 {
    display: grid;
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
    
  #landingPageSection3 {
    display: grid;
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  /* Gameplay Section that is within the Landing Page Section 3 */
  #gameplayHeader {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #gameplayParagraphs {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #gameplaySlideshow {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    align-content: center;
    margin: 24px auto 0 auto;
  }

  .box {
    padding: 16px;
  }
}
  
.popup {
  padding: 24px;
}

.popupHeader {
  margin: 12px 0px 8px 0px;
}

.content > p {
  margin-bottom: 24px;
}

.widePopup {
  width: 80%;
}

/* Admin Landing Page */

#adminUncompletedTasks {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 520px;
  overflow: scroll;
}

#adminManageUsers {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 520px;
  overflow: scroll;
}

#manageUserProfileImage {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#manageUserProfileName {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#manageUserProfileUserType {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#manageUserProfileTeamRole {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#manageUserProfileBioLabel {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

#manageUserProfileBioInput {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

/* Moderator Landing Page */

#moderatorUncompletedTasks {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 520px;
  overflow: scroll;
}

#moderatorManageUsers {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 520px;
  overflow: scroll;
}

.approveDeleteButtons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.overflowList {
  overflow-y: scroll;
}