.pageGrid {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: auto;
    margin: 18px;
}
/* 
#teamActionButtons{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    min-height: 150px;

    /* button font is bigger 
    button {
        font-size: 1.2rem;
    }
} */

#accountInformation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: auto;
}

#registrationInformation {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: auto;
}

#bioInformation {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: auto;
}

.bioInformationHeader {
    align-items: start;
}

#upcomingEvents {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    height: auto;
    overflow: scroll;
}

#GalleryOnProfile {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    height: auto;
}

/*
#individualCollegeAnnouncements {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 800px;
    overflow: scroll;
}
*/

.upcomingEvent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paddingTop {
    padding-top: 24px;
}

.shortBio {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.smallBottomMargin {
    margin: 0px 0px 8px 0px;
}

.stickyHeader {
    position: sticky;
    max-height: 56px;
}

#postDate {
    margin: 0px;
    padding: 0px;
    font-size: small;
    font-weight: 200;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiperDiv {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    color: white;
    width: 100%;
    height: 12em;
}

.swiper {
    height: 272px;
}

@media only screen and (max-width: 768px) {

    .pageGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 18px;
    }
    
    #accountInformation {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: auto;
    }
    
    #registrationInformation {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        height: auto;
    }
    
    #bioInformation {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        height: auto;
    }
    
    #upcomingEvents {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        height: auto;
        overflow: scroll;
    }
    
    #GalleryOnProfile {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        height: auto;
    }

    
    
}



@media only screen and (max-width: 480px ) {
    
    .pageGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }

    /* .verticalFlexMobile480 {
        flex-direction: column;
    } */

    #accountInformation {
        height: auto;
    }

    /* #registrationInformation {
        height: auto;
    } */

    #bioInformation {
        height: auto;
    }

    #GalleryOnProfile {
        height: auto;
    }
}