/* https://react-slideshow-image.netlify.app/?path=/story/introduction--page */

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
  
.each-slide-effect span {
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

#slideContainer {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 24px;
}

caption {
  width: max-content;
  margin-left: 24px;
  padding-top: 12px;
  color: black;
}