.teamPageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr fr;
    grid-template-rows: auto;
    margin: 18px;
    max-width: 100%;
}

#teamProfilePicture {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: auto;
    width: 100px;
}

#teamActionButtons{
    height: auto;
    width: 300px;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    button {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
}

#teamAccountInformation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    height: auto;
}

#teamRegistrationInformation {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    height: auto;
}

#teamEvents {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: auto;

    /* hide imgs */
    img {
        display: none;
    }
}

/* add override for the upcomingeventscomponents */


#teamBioInformation {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    height: auto;
}

/* in desktop view, hide the mobile version and show the desktop version*/
#teamMembersDESKTOP {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    height: auto;
    overflow: scroll;
}

#teamMembersMOBILE {
    display: none;
}

#teamGallery {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    height: auto;
}

/*
#individualCollegeAnnouncements {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 800px;
    overflow: scroll;
}
*/

.upcomingEvent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.verticalFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    text-align: center;
}

.teamMemberBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    text-align: center;
    img {
        margin: 5px;
    }
}


.paddingTop {
    padding-top: 24px;
}

.shortBio {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.smallBottomMargin {
    margin: 0px 0px 8px 0px;
}

.stickyHeader {
    position: sticky;
    max-height: 56px;
}




@media only screen and (max-width: 768px) {

    .teamPageGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 18px;
    }
    
    #teamBioInformation {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        height: auto;
    }
    
    /* in mobile view, hide the desktop version and show the mobile version*/
    #teamMembersDESKTOP  {
        display: none;
    }

    #teamMembersMOBILE {
        display: block;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        height: auto;
    }

    /* .teamMemberMobileCard {
        display: block;
        padding: 10px;
        width: 100px;
    } */

    #teamEvents {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        height: auto;
    
        /* hide imgs */
        img {
            display: none;
        }
    }

    #teamGallery {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        height: auto;
    }

    #teamAccountInformation {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        height: auto;
    }
    
    #teamRegistrationInformation {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        height: auto;
    }

    .teamMemberBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 170px;
        padding: 10px 10px 16px 10px;
        
        img {
            margin: 5px;
            max-height: 80px;
            align-self: center;
        }
        h4 {
            margin: 5px 0px 5px 0px;
        }
        p {
            line-height: 1.2;
            word-wrap: break-word;
        }
    }

    
    
}
